body{
    background-image: url(images\ \(2\).jpeg);
      background-repeat:no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    }


.head{
height: 600px;
width: 600px;
background-image: url(images\ \(2\).jpeg);
background-repeat:no-repeat;
background-size: cover; 
position: relative;
top: 100px;
left: 500px;
box-shadow: 3px 3px 3px 3px;
flex-wrap: wrap;
color: yellow;
font-size: 25px;
}


h2{
    padding-top: 150px;
} 

@media screen and (max-width:450px){
  label, input{
    font-size: 0.9em;
  }
 body{background-image: none;}
 .head{
  position: relative;
  left: 0;
 }
  
}
