body{
    background-image: url(images\ \(2\).jpeg);
      background-repeat:no-repeat;
    background-size: cover; 
    height:500px;}


.head{
height: 500px;
width: 500px;
background-image: url(images\ \(2\).jpeg);
background-repeat:no-repeat;
background-size: cover; 
position: relative;
left: 400px;
box-shadow: 3px 3px 3px 3px;
flex-wrap: wrap;
color: yellow;
}

.head form {
    position: relative;
    
    
}
h2{
    padding-top: 150px;
}


