*{ 
color: rgb(53, 51, 51);
}

.form{
    width: 500px;
    margin-left: 400px;
    border: 2px solid;
    padding: 40px;
    background-color: rgb(240, 245, 245);
}

.name input{
    height: 30px;
    width: 225px;
    gap: 20px;
}

.email input{
    height: 30px;
    width: 450px;
 
}

.select{
    display: flex;
gap: 30px;

}
.select select{
    height: 35px;
    width: 225px;
}

.select input{
    height: 30px;
    width: 225px;
}
.radeo{
    display: flex;
    gap: 80px;
}

.redo{
    display: flex;
    gap: 70px;
}

@media screen and (max-width: 425px) {
    .form {
      padding: 1em;
      margin-left: 0px;
      /* width: 100%; */

         
    }
    .name label,input{font-size: 0.9em;}
    .email label,input{font-size: 0.9em;}
    .select label,select{font-size: 0.9em;}
    .date label,input{font-size: 0.9em;}
    .date label,input{font-size: 0.9em;}
     label{font-size: 0.9em;}
     .redo input{font-size: 0.9em;}
     .but input,button{font-size: 0.9em;}


    /* .form-group label,
    .form-group input,
    .form-group textarea,
    .form-group button {
      font-size: 0.9em;
    } */
  }